@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');
.cursive { font-family: 'Pinyon Script', cursive;}
h1.cursive{font-size: 4rem;}
.sans {font-family: 'Open Sans', sans-serif;}
.outer-border{border: 5px solid #618597;}
.outer-line-border{border: 2px solid #fff;}
.center-border{border: 25px solid #618597;}
.inner-line-border{border: 2px solid #fff;}
.inner-border{border: 5px solid #618597;padding: 30px 15px;}
.auth{max-width: 150px;border: 1px solid #000;padding: 10px;font-size: 10px;position: relative;}
.auth img {position: absolute;width: 50%;left: 25%;}
.heading{line-height: 1.3;margin-bottom: 15px;}
.capt{max-width: 150px;position: relative;}
.capt img {position: absolute;left: 0;}
.space{width: 50px;display: inline-block;}
@media print {@page {size: Legal landscape;}}