.navbar {
	background-color: #e3f2fd;
}

a { text-decoration: none; }
a.badge:hover {color: #fff;}
a.badge.bg-primary:hover {color: #fff;background-color: #0b5ed7 !important;border-color: #0a58ca;}
a.badge.bg-secondary:hover {color: #fff;background-color: #5c636a !important;border-color: #565e64;}
a.badge.bg-success:hover {color: #fff;background-color: #157347 !important;border-color: #146c43;}
a.badge.bg-danger:hover {color: #fff;background-color: #bb2d3b !important;border-color: #b02a37;}
a.badge.bg-warning:hover {color: #000;background-color: #ffca2c !important;border-color: #ffc720;}
a.badge.bg-info:hover {color: #000;background-color: #31d2f2 !important;border-color: #25cff2;}
a.badge.bg-light:hover {color: #000;background-color: #f9fafb !important;border-color: #f9fafb;}
a.badge.bg-dark:hover {color: #fff;background-color: #1c1f23 !important;border-color: #1a1e21;}
body{
	background: url('img/bg.jpg') no-repeat center center;
	background-size: cover;
}